<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>baike</display-name>
	<listener>
		<listener-class>com.irongroup.servlet.InitListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>WeixinServlet</servlet-name>
		<servlet-class>com.irongroup.servlet.WeixinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeixinServlet</servlet-name>
		<url-pattern>/weixin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MockServlet</servlet-name>
		<servlet-class>com.irongroup.servlet.MockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MockServlet</servlet-name>
		<url-pattern>/mock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.irongroup.servlet.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>